 

<div class="container1">
    <div class="warning-icon">&#9888;</div>
    <div class="error-code">403</div>
    <div class="error-message">Access Denied</div>
    <button class="back-button" onclick="goBack()">Go Back</button>
</div>


<script>
    function goBack() {
        window.history.back();
    }
</script>
